HomeWorkLection2
[{"id":"20526d29.9eca0a","type":"tab","label":"Валидация моб. номера","disabled":false,"info":""},{"id":"1d2f5cb5.b830b3","type":"inject","z":"20526d29.9eca0a","name":"","topic":"вход","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["54476237.13c0cc"]]},{"id":"54476237.13c0cc","type":"function","z":"20526d29.9eca0a","name":"Задаём вход. пар-ры","func":"//\n//msg.sid = '191104csb1x5wq596mvm';\n//msg.sid = '191103csa3ki2fk62d2i';\n//msg.tel = '+380938163181'\nif (msg.payload.tel&&msg.payload.sid) {\nmsg.sid = msg.payload.sid;\nmsg.tel = msg.payload.tel;\nmsg.vhod = msg.payload;\n}\nelse msg = [null, \"msg.payload.error\": 'Не передан tel и/или sid'];\nreturn msg;","outputs":2,"noerr":8,"x":380,"y":340,"wires":[["91bd05fc.abeb48","a6d5e97f.ca8cb8"],[]]},{"id":"91bd05fc.abeb48","type":"http request","z":"20526d29.9eca0a","name":"Запрос к ChameleonServer","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{payload.sid}}","tls":"","proxy":"","authType":"","x":380,"y":440,"wires":[["fe0ac8bf.b31eb8"]]},{"id":"7a801cd4.35c70c","type":"debug","z":"20526d29.9eca0a","name":"Дебажим","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":640,"wires":[]},{"id":"f7ac5028.f3efd","type":"catch","z":"20526d29.9eca0a","name":"Ловим ошибки","scope":null,"uncaught":false,"x":260,"y":640,"wires":[["b7b6ee2c.071c88"]]},{"id":"fe0ac8bf.b31eb8","type":"xml","z":"20526d29.9eca0a","name":"Парсим xml","property":"payload","attr":"z","chr":"","x":590,"y":400,"wires":[["7a801cd4.35c70c","ae8c65c2.944548"]]},{"id":"62993bc6.86fbe4","type":"http in","z":"20526d29.9eca0a","name":"Моб. телефон","url":"/tel","method":"get","upload":false,"swaggerDoc":"","x":360,"y":240,"wires":[["54476237.13c0cc"]]},{"id":"d6b449a4.4f72d","type":"http response","z":"20526d29.9eca0a","name":"Результат","statusCode":"200","headers":{},"x":1170,"y":360,"wires":[]},{"id":"90c9af5e.5e1088","type":"function","z":"20526d29.9eca0a","name":"Логин имеет доступ","func":"//msg.tel = msg.payload.tel;\n//msg.sid = msg.payload.sid;\nmsg.payload.mes = msg.payload.session.user[0].z.login + ' имеет доступ';\n\n//delete msg.payload.session;\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":280,"wires":[["d6b449a4.4f72d","8107ff2d.ba59c"]]},{"id":"5cdf5bb8.88ca74","type":"switch","z":"20526d29.9eca0a","name":"Есть ли доступ по техлогину?","property":"payload.session.user[0].z.login","propertyType":"msg","rules":[{"t":"eq","v":"conveyor33254","vt":"str"},{"t":"eq","v":"DN220685LSS1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":850,"y":340,"wires":[["90c9af5e.5e1088"],["eb7675fe.8d12d8"],["b0ab5c1f.bd7b9"]]},{"id":"83055ec2.d19ce8","type":"http response","z":"20526d29.9eca0a","name":"Не тот техлогин","statusCode":"200","headers":{},"x":1210,"y":460,"wires":[]},{"id":"b0ab5c1f.bd7b9","type":"function","z":"20526d29.9eca0a","name":"Ошибка - сессия не имеет доступа","func":"msg.payload.error = msg.payload.session.user[0].$.login + 'не имеет доступа';\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":420,"wires":[["83055ec2.d19ce8"]]},{"id":"f21ddca0.b164c","type":"http response","z":"20526d29.9eca0a","name":"Логин DN220685LSS1","statusCode":"","headers":{},"x":1130,"y":220,"wires":[]},{"id":"eb7675fe.8d12d8","type":"function","z":"20526d29.9eca0a","name":"Error","func":"msg.payload.error = msg.payload.session.user[0].z.login + ' не имеет доступа';\n//delete msg.payload.session;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":240,"wires":[["f21ddca0.b164c","7abb8997.7bd678"]]},{"id":"b7b6ee2c.071c88","type":"debug","z":"20526d29.9eca0a","name":"Дебаг ошибок","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":720,"wires":[]},{"id":"7abb8997.7bd678","type":"debug","z":"20526d29.9eca0a","name":"Дебаг error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":120,"wires":[]},{"id":"ae8c65c2.944548","type":"switch","z":"20526d29.9eca0a","name":"Получили ответ от АПИ?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":690,"y":580,"wires":[["5cdf5bb8.88ca74","9b08f3b6.c18558"],["22abd3c.572f62c"]]},{"id":"d0e38562.c2c658","type":"http response","z":"20526d29.9eca0a","name":"!200","statusCode":"200","headers":{},"x":1090,"y":580,"wires":[]},{"id":"22abd3c.572f62c","type":"function","z":"20526d29.9eca0a","name":"Неверный сид","func":"msg.payload.error = 'Неверный сид';\ndelete msg.payload.errorMessage;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":580,"wires":[["d0e38562.c2c658","6dcd990a.ef68d8"]]},{"id":"6dcd990a.ef68d8","type":"debug","z":"20526d29.9eca0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":660,"wires":[]},{"id":"8107ff2d.ba59c","type":"debug","z":"20526d29.9eca0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1320,"y":280,"wires":[]},{"id":"a6d5e97f.ca8cb8","type":"debug","z":"20526d29.9eca0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":280,"wires":[]},{"id":"9b08f3b6.c18558","type":"debug","z":"20526d29.9eca0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":660,"wires":[]}]
