HomeWorkLection1
[{"id":"31332582.eedb62","type":"tab","label":"Курсы валют ПриватБанка","disabled":false,"info":""},{"id":"708ee0d3.1407d","type":"inject","z":"31332582.eedb62","name":"","topic":"Геренация запроса","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":120,"y":280,"wires":[["4502b524.48b914"]]},{"id":"defe88f6.f0d97","type":"debug","z":"31332582.eedb62","name":"Дебажим","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1240,"y":300,"wires":[]},{"id":"4502b524.48b914","type":"function","z":"31332582.eedb62","name":"Это тест присвоения переменных","func":"msg.test = \"test\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["dde05697.beb61"]]},{"id":"dde05697.beb61","type":"http request","z":"31332582.eedb62","name":"Курсы валют ПриватБанка","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5 ","tls":"","proxy":"","authType":"","x":700,"y":300,"wires":[["3c0f38cc.0e5e9"]]},{"id":"3c0f38cc.0e5e9","type":"function","z":"31332582.eedb62","name":"Получаем ответ от куса валют ПБ","func":"//Записать время запроса апи в переменную \"DateHW1\"\nmsg.DateHW1 = msg.headers.date;\nmsg.currency = msg.payload;\n//Записать курс долллара в переменную \"HW1\"\nfor (var i = 0; i < msg.currency.length; i++) \n  if(msg.currency[i].ccy === \"USD\") {\n     msg.HW1 = msg.currency[i].sale\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["defe88f6.f0d97"]]}]
